<!DOCTYPE  html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>商品列表</h1>
    <div>
        <span style="color: blue;">
            <p>商品列表</p>
            <ul>

                <li>
                    <a href="https://item.jd.com/100008348542.html" target="_blank">
                        <img src="/static/01.jpg",style="width: 150px">
                        华为手机
                    </a>
                </li>
                <li>
                    <a href="https://item.jd.com/100008348543.html" target="_blank">
                        <img src="/static/02.jpg",style="width: 150px">
                        小米手机
                    </a>
                </li>
                <li>
                    <a href="https://item.jd.com/100008348544.html" target="_blank">
                        <img src="/static/03.jpg",style="width: 150px">
                        苹果手机
                    </a>
                </li>
            </ul>
        </span>
    </div>
</body>
</html>