<!DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <title>我的空间</title>
</head>
<body>
    <h1>精神世界</h1>
    <div>
        <span style="color: blue;">
            <p>我喜欢的事物</p>
            <ul>
                <li><a href="https://www.bilibili.com/video/BV1pY4y1d7o1/?spm_id_from=333.337.search-card.all.click">音乐</a></li>
                <li><a href="https://www.bilibili.com/bangumi/play/ss68613?theme=movie&spm_id_from=333.337.0.0">电影</a></li>
                <li><a href="https://yuedu.163.com/book/category">书籍</a></li>
            </ul>
        </span>
    </div>
    <div>
        <span style="color: red;">
            <p>新闻</p>
        </span>
        <a href="/get/news">获取新闻资讯</a>
    </div>       
</body>
</html>


